<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,2},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BgLeft0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,724},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BgRight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,448},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,564},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,448},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{912,390},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,454},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,396},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,506},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,506},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,512},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,564},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockHintHighlight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,258},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{970,74},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{984,296},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{992,74},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{948,74},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{984,340},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,230},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,252},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{984,274},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,186},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{984,318},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMiniLocked0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,208},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Menu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,324},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MenuClose0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,330},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MoreGames0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{948,2},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MoreGames_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,186},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_Off0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,570},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_Off_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,626},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{902,678},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_On0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{902,622},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_On_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{958,678},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{958,622},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_NewGame0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{928,104},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_NewGame_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,104},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Restart0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,738},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Restart_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{958,734},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Restart_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{940,790},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_ShareTwitter0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,258},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_ShareTwitter_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,186},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_Off0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,682},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_Off_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{902,734},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{772,780},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_On0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{884,790},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_On_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{828,794},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{772,724},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Grid0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,404}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,404}</string>
				<key>spriteSourceSize</key>
				<string>{346,404}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,724},{346,404}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{340,72}</string>
				<key>spriteSourceSize</key>
				<string>{340,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,1130},{340,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBtnBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,60}</string>
				<key>spriteSourceSize</key>
				<string>{320,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,1204},{320,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuSeparator0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{-107374182,-107374182}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>TutorialBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,2},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>spritesheet.png</string>
				<key>textureFileName</key>
				<string>spritesheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
