<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BgLeftSmall0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,480}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{280,480}</string>
				<key>spriteSourceSize</key>
				<string>{280,480}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{350,2},{280,480}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BgRightSmall0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,480}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{280,480}</string>
				<key>spriteSourceSize</key>
				<string>{280,480}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{632,2},{280,480}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{526,628},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{948,490},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,316},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,374},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,258},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{946,610},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,200},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{584,628},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,610},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{948,432},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockHintHighlight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,2},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,2},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,112},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,24},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,24},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,46},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,46},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,2},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,90},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{980,68},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,90},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMiniLocked0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,68},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Menu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,68},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MenuClose0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{914,134},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{924,668},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{868,668},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Restart_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{756,628},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{812,628},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{700,628},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Grid0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,404}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,404}</string>
				<key>spriteSourceSize</key>
				<string>{346,404}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{346,404}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GridCell0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{642,628},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonFacebook0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,60}</string>
				<key>spriteSourceSize</key>
				<string>{180,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{706,566},{180,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonRestart0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{240,80}</string>
				<key>spriteSourceSize</key>
				<string>{240,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{706,484},{240,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonRestartGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{140,60}</string>
				<key>spriteSourceSize</key>
				<string>{140,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,628},{140,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupGameOver0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,345}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{380,345}</string>
				<key>spriteSourceSize</key>
				<string>{380,345}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,484},{380,345}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{340,72}</string>
				<key>spriteSourceSize</key>
				<string>{340,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,408},{340,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBtnBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,70}</string>
				<key>spriteSourceSize</key>
				<string>{320,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,556},{320,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBtnBgDown0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,70}</string>
				<key>spriteSourceSize</key>
				<string>{320,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{384,484},{320,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuLogo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,42}</string>
				<key>spriteSourceSize</key>
				<string>{116,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,566},{116,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuSeparator0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,2}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,2}</string>
				<key>spriteSourceSize</key>
				<string>{320,2}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{526,686},{320,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>spritesheet.png</string>
				<key>textureFileName</key>
				<string>spritesheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
