<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,2},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BgLeft0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,724},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BgRight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,720}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{420,720}</string>
				<key>spriteSourceSize</key>
				<string>{420,720}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{420,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,472},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,588},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,480},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,472},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{912,356},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{904,530},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{912,414},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,530},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,422},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Block90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,538},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockHintHighlight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,290},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,168},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini100000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,146},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{988,24},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,256},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{988,2},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,278},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1000,300},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,190},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini80000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,212},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMini90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{978,300},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>BlockMiniLocked0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,20}</string>
				<key>spriteSourceSize</key>
				<string>{20,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,234},{20,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Menu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{912,290},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MenuClose0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,356},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MoreGames0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,146},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_MoreGames_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,146},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{902,646},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Music_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{958,646},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_NewGame0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,64},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_NewGame_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{928,64},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Restart_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,596},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_ShareTwitter0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,218},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_ShareTwitter_Over0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,218},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_Off_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,652},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Btn_Sound_On_SideMenu0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{954,806},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Grid0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,404}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{346,404}</string>
				<key>spriteSourceSize</key>
				<string>{346,404}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,724},{346,404}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GridCell0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{962,588},{56,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonFacebook0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,60}</string>
				<key>spriteSourceSize</key>
				<string>{180,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{772,806},{180,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonRestart0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{240,80}</string>
				<key>spriteSourceSize</key>
				<string>{240,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{772,724},{240,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupButtonRestartGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{140,60}</string>
				<key>spriteSourceSize</key>
				<string>{140,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{846,2},{140,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>PopupGameOver0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,345}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{380,345}</string>
				<key>spriteSourceSize</key>
				<string>{380,345}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{424,1130},{380,345}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{340,72}</string>
				<key>spriteSourceSize</key>
				<string>{340,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,1446},{340,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuBtnBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,60}</string>
				<key>spriteSourceSize</key>
				<string>{320,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{344,1477},{320,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SidemenuSeparator0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>spritesheet.png</string>
				<key>textureFileName</key>
				<string>spritesheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
